<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114681121-1"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-114681121-1');
	</script>
	<meta charset="utf-8">
</head>
<section class="section-home">
	<div class="row">

		<div class="ada-home-text-box">
			<h1>Welkom bij ADA Construct.
				<br>Kwalitatief bouwen of renoveren?
			</h1>
			<a class="btn btn-full" href="#" onclick="loadContactContent()" ng-click="showContact()">Contact Opnemen</a>
			<a class="btn btn-ghost" onclick="loadServicesContent()" ng-click="showAbout()" href="#">Wat Doen We? </a>

		</div>
	</div>
</section>