<!DOCTYPE html>
<html>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114681121-1"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-114681121-1');
	</script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="MobileOptimized" content="320">
	<meta name="HandheldFriendly" content="True">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Voor ADA Construct is geen enkele klus te groot! Of het gaat over de afbraak van een huis, een kleine
			renovatie, of een volledige verbouwing, wij staan klaar om uw wensen tot werkelijkheid te brengen.">
	<title>ADA Construct</title>
	<link rel="shortcut icon" type="image/x-icon" href="/resources/logo/favicon.ico">
	<link rel="ICON" href="/resources/logo/favicon.ico" type="image/ico"/>
	<link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
	<link rel="stylesheet" type="text/css" href="resources/css/style.css">
	<!--	Load Jquery-->
	<script src="vendors/js/jquery-3.2.1.min.js"></script>
	<script src="vendors/js/lightbox.js"></script>
	<link rel="stylesheet" type="text/css" href="vendors/css/lightbox.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="vendors/css/ionicons.css">
	<!--https://github.com/Mango/slideout-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
	<script src="script.js"></script>
	<script src="vendors/js/angular.min.js"></script>
	<script src="resources/script/adaNgScript.js"></script>
	<script src="vendors/js/angular-animate.min.js"></script>
</head>

<body id="my-body" class="body-background" data-ng-app="myApp">
<div id="myController" data-ng-controller="MainController">
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<nav id="menu">
		<div id="sidedrawer-brand" class="mui--appbar-line-height">
			<img src="resources/logo/logo.svg" alt="ADA Construct logo" class="logo" id="logo">
		</div>
		<ul class="main-nav sidebar-nav" id="sidebar">
			<li><a href="#" data-ng-click="showHome()">Home</a></li>
			<li><a href="#" data-ng-click="showServices()">Services</a></li>
			<li><a href="#" data-ng-click="showGallery()">Gallery</a></li>
			<li><a href="#" data-ng-click="showContact()">Contact</a></li>
			<li><a href="#" data-ng-click="showAbout()">About</a></li>
		</ul>
	</nav>
	<div id="my-panel" data-ng-animate-children="true">
		<div class="div-most-outer" id="div-most-outer">
			<header>
				<button class="toggle-button">☰</button>
			</header>
			<div data-ng-if="includeHome" class="slide-animation-container">
				<div data-ng-include="homePath" class="vertical-flip"></div>
			</div>
			<div data-ng-if="includeServices" class="slide-animation-container">
				<div data-ng-include="servicesPath" class="vertical-flip"></div>
			</div>
			<div data-ng-if="includeGallery" class="slide-animation-container">
				<div data-ng-include="galleryPath" class="vertical-flip"></div>
			</div>
			<div data-ng-if="includeContact" class="slide-animation-container">
				<div data-ng-include="contactPath" class="vertical-flip" style="width:100%;"></div>
			</div>
			<div data-ng-if="includeAbout" class="slide-animation-container">
				<div data-ng-include="aboutPath" class="vertical-flip"></div>
			</div>
		</div>
	</div>
	<footer id="footer">
		<div class="row">
			<div class="col span-1-of-2">
				<ul class="footer-nav">
					<li>
						<a href="#" data-ng-click="showAbout()">About us</a>
					</li>
					<li>
						<a href="#" data-ng-click="showContact()">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<p> Copyright &copy; 2017 by Jorciney D. Ch. All rights reserved.</p>
		</div>
	</footer>
</div>
</body>
</html>
