/*
Red collor: #c0392b;
Darker red: ##a43125;
*/


/*-------------------------------------------*/


/*BASIC SETUP*/


/*-------------------------------------------*/

.body-background {
    background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)), url(img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 480px;
}

html,
welkomTxt {
    color: #fff;
    /*    color: #fff;*/
    font-family: 'Lato', 'Arial', 'sans-serif' !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    text-rendering: optimizeLegibility !important;
}

body {
    color: #fff !important;
    font-size: 15px !important;
    /*    color: #fff;*/
    font-family: 'Lato', 'Arial', 'sans-serif' !important;
}

#content-placeholder {
    line-height: 1.4em;
}


/* If in mobile screen with maximum width 480px. The iPhone screen resolution is 320x480 px (except iPhone4, 640x960) */

@media screen and (max-width: 480px) {
    #content-placeholder {
        position: relative;
        margin: 0 auto;
        width: 50%;
        height: 1500px;
    }
    .gallery-showcase li {
        width: 50%;
    }
}


/*-------------------------------------------*/


/*REUSABLE COMPONENTS*/


/*-------------------------------------------*/

.row {
    max-width: 100%;
    float: none;
    margin: 0 auto;
}

.row a {
    color: #fff;
    text-decoration: none;
}

section {
    transform: translate(220px);
    padding: 0;
    float: left;
}

.section-home,
.section-features,
.section-contact,
.section-about {
    height: 100vh;
}


/* ----- HEADINGS ----- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1,
welkomTxt {
    font-size: 240%;
    /*This will be the 48px because the html font-size is 20px*/
    margin-top: 0 !important;
    margin-bottom: 20px;
    color: #fff !important;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #c0392b;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    font-weight: 400
}

.left {
    margin-left: 0 !important;
}

.underlined:after {
    background-color: #c0392b;
    bottom: -10px;
    content: "";
    display: table;
    height: 2px;
    position: relative;
    margin-left: 0;
}

.title-gallery:after {
    width: 220px;
    ;
}

.title-services:after {
    width: 55%;
}

.title-contact:after {
    width: 50%;
}


/* ------------- FOOTER ------------- */

@media (min-width: 767px) {
    footer {
        background-color: #333;
        padding-left: 20%;
        padding-right: 20%;
        clear: both;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 12px;
    }
}

.footer-nav li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    float: left;
}


/* ----- PARAGRAPHS ----- */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-top: 40px;
}

.grid-box {
    padding: 1%;
}

.grid-box p {
    font-size: 90%;
    line-height: 145%;
}


/* ------------- ICONS ------------- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #c0392b;
    margin-bottom: 10px;
    padding-left: 2%;
}

.icon-medium {
    font-size: 170%;
    color: #c0392b;
    display: contents;
    float: left;
    padding-left: 2%;
    padding-right: 5%;
}

.ada-icon {
    height: 30%;
    width: 30%;
    margin-bottom: 10px;
    padding-left: 2%;
    display: block;
}


/* ------------- BUTTONS ------------- */

.btn:link,
.btn:visited,
input[type=submit] {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    /*Transition between colors and borders when hovering/clicking on it*/
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #c0392b;
    border: 1px solid #c0392b;
    color: #fff;
    margin-right: 20px;
}

.submit {
    margin-top: 0;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #dc6f64;
    border: 1px solid #c0392b;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #a43125;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #a43125;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
    border: 1px solid #a43125;
}


/* ------------- HEADER ------------- */

.top-header {
    height: 13vh;
    width: 100%;
}

.hiddenscroll .box {
    color: green;
}

div-most-outer {
    height: 100%;
    width: 100% !important;
}

.body-no-background {
    background-color: white;
}

.body-services {
    background-image: none;
    border-radius: 5px;
}

.logo {
    margin: 20px;
    height: 23%;
    width: auto;
    float: none;
}

.main-nav li {
    display: table;
    margin: 0px auto 0px auto;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 6px 0;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 120%;
    /*it will be 18px;*/
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    outline-width: 0;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #c0392b;
    padding-bottom: 8px;
    border-bottom: 2px solid #e5230f;
    transition: border-bottom 0.4s;
}


/* ------------- GALLERY ------------- */

.gallery-showcase {
    display: block;
    position: relative;
    left: 15%;
    float: none;
    list-style: none;
    width: 100%;
    margin: 0 auto;
}

.gallery-showcase li {
    display: block;
    float: left;
    width: 35%;
    height: auto;
    margin: 0 auto;
}

.gallery-photo {
    width: 100%;
    margin: 0;
    border: 2px solid rgba(255, 255, 255, 0.92);
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.gallery-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.5);
    transition: transform 0.5s, opacity 0.5s;
}

.gallery-photo img:hover {
    border: 0px;
    transform: scale(1.03);
    opacity: 1;
}


/* ------------- CONTACT FORM ------------- */

.contact-form {
    width: 100%;
    margin: 0 auto;
}

label {
    font-weight: normal !important;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    float: left;
    border: 1px solid #ccc;
    width: 60%;
    color: #510404;
}

textarea {
    height: 70px;
}

*:focus {
    outline: none;
}


/* ------------- SIDEBAR ------------- */

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 120%
}

#sidebar-wrapper {
    background: #222;
    position: fixed;
    height: 100%;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 80px;
}

.fa {
    font-size: xx-large !important;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#main_icon {
    float: right;
    padding: 10% 10%;
}


/* ------------- SIDEBAR V2 ------------- */


/**
 * Body CSS
 */

html,
body {
    height: 100%;
}

html,
body,
input,
textarea,
buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition: left 0.2s;
}

/**
 * Footer CSS
 */

#footer {
    bottom: 0;
    color: #fff;
}

#footer a {
    color: #fff;
    text-decoration: underline;
}


/**
* Loader wheel from here: https://ihatetomatoes.net/create-custom-preloading-screen/
**/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ff0000;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ffffff;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #c10404;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}


/* JavaScript Turned Off */

.no-js #loader-wrapper {
    display: none;
}

.no-js h1 {
    color: #222222;
}

.section-gallery {
    min-height: 90vh;
}

/*============================================================*/
/*SIDEDRAWER */
/*============================================================*/

/**
 * Toggle Sidedrawer
 */

/*#sidedrawer.active {*/
    /*transform: translate(200px);*/
/*}*/


/*!***/
/** Icon*/
/***!*/

/*.sidedrawer-toggle {*/
    /*color: #fff;*/
    /*cursor: pointer;*/
    /*font-size: 20px;*/
    /*line-height: 20px;*/
    /*margin-right: 10px;*/
/*}*/

/*.sidedrawer-toggle:hover {*/
    /*color: #fff;*/
    /*text-decoration: none;*/
/*}*/

/*#sidedrawer {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*width: 200px;*/
    /*left: -200px;*/
    /*overflow: hidden;*/
    /*z-index: 2;*/
    /*transition: transform 0.2s;*/
/*}*/

/*#mui-overlay {*/
    /*position: relative !important;*/
    /*height: auto !important;*/
    /*z-index: 0;*/
    /*overflow: scroll !important;*/
/*}*/

/*.mui-scroll-lock {*/
    /*overflow: scroll !important;*/
/*}*/

/*#content-wrapper {*/
    /*min-height: 100%;*/
    /*overflow-x: hidden;*/
    /*transition: margin-left 0.2s;*/
    /*z-index: auto;*/
    /*!* sticky bottom *!*/
    /*box-sizing: border-box;*/
    /*margin-bottom: -160px;*/
    /*padding-bottom: 160px;*/
/*}*/



/*====================================================*/
/*MEDIA QUERY*/
/*====================================================*/
/*#sidedrawer {*/
    /*transform: translate(200px);*/
    /*z-index: 1;*/
/*}*/
/*#content-wrapper {*/
    /*margin-left: 200px;*/
/*}*/
/*#content-placeholder {*/
    /*width: 100% !important;*/
    /*float: left;*/
    /*padding-left: 20px;*/
/*}*/
/*body.hide-sidedrawer #header {*/
    /*left: 0;*/
/*}*/
/*body.hide-sidedrawer #sidedrawer {*/
    /*transform: translate(0px);*/
/*}*/
/*body.hide-sidedrawer #content-wrapper {*/
    /*margin-left: 0;*/
/*}*/
/*body.hide-sidedrawer #footer {*/
    /*margin-left: 0;*/
/*}*/
/*.mui-appbar {*/
    /*background-color: rgba(0, 0, 0, 0) !important;*/
    /*z-index: 99999;*/
/*}*/
/*@media (max-width: 768px) {*/



/*}*/
/*@media (min-width: 768px) {*/
    /*.ada-home-text-box {*/
        /*position: static;*/
        /*width: 100%;*/
        /*margin-top: 190px;*/
        /*height: auto;*/
    /*}*/
    /*.section-home,*/
    /*.section-features,*/
    /*.section-contact,*/
    /*.section-gallery,*/
    /*.section-about {*/
        /*margin-top: 140px;*/
        /*width: 80%*/
    /*}*/
    /*#header {*/
        /*left: 200px;*/
    /*}*/
    /*.gallery-showcase {*/
        /*left: 0%;*/
    /*}*/
    /*.gallery-showcase li {*/
        /*width: 25%;*/
    /*}*/
/*}*/


.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}